<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="class1">
        <ul>
            <strong> <em> <li>WALEED</li> </em></strong>
            <li class="space">HOME</li>
            <li class="space">ABOUT</li>
            <li class="space">BLOG</li>
            <LI class="space">CONTACT</LI>
        </ul>
        <img width="1000" src="l1.PNG" alt="">
        <p> <b>NEW PRODUCT</b></p>
        <H1>The Twist of Healthy Yogurt</H1>
        <p>This website tamplate has been designed by </p>
        <p class="web">Free Website Tamplate</p>
        <p>for you, for free You can replace all this next with your own text.</p>
        <ul class="ucolor">
            <li class="space2">PRODUCT</li>
            <li class="space2">OUR STORY</li>
            <li class="space2">FLAVORS</li>
            <li class="space2">OUR LOCATION</li>
        </ul>
    </div>

</body>

</html>